@page
@model BookListRazor.IndexModel


<br/>
<div class="container row m-0 p-0">
    <div class="col-9">
        <h2 class="text-info">BookList</h2>
    </div>    
    <div class="col=3">
        <a class="btn btn-info form-control" asp-page="CreateNewBook">Create New Book</a>
    </div>

    <div class="col-12 p-0 mt-2">
        <form method="post">
            @if (Model.Books.Count() > 0)
            {
                <table class="table table-striped border">
                    <tr class="table-secondary">
                        <th>#</th>
                        <th>
                            <label asp-for="Books.FirstOrDefault().Name"></label>
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.Books.FirstOrDefault().Author)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.Books.FirstOrDefault().Year)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.Books.FirstOrDefault().ISBN)
                        </th>
                    </tr>
                    @foreach (var item in Model.Books)
                    {
                        <tr>
                            <td>#</td>
                            <td>
                                @Html.DisplayFor(m => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.Author)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.Year)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.ISBN)
                            </td>                        
                            <td>
                                <button class="btn btn-danger btn-sm">delete</button>
                                <button class="btn btn-success btn-sm">edit</button>
                            </td>
                        </tr>
                    }
                </table>

            }
            else
            {
                <p>No books available</p>
            }

        </form>
    </div>

</div>

